.create {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.7);
}

.create__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: grey;
    margin: auto;
    padding: 3px 20px 20px 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Maximum width */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}